<script>
$(document).ready(function(){
	$("#submit").click(function(){
		var read = $("input[name='read']:checked").val();
		var rf = $("input[name='rf']:checked").val();

		if(read===undefined || rf===undefined || read==0 || rf==1){
			alert("Please read instructions and scenario again, and check your answer.");
		} else {
			if(confirm("Remember to follow instructions you just received - evaluating apps and choosing one app to purchase based on the scenario.\nIf you are ready, please click yes and you will be redirected to a page with a list of apps.")){
				window.location.href= "/appstores/apps/<%= @subject.esearch %>" ;
			}
		}
	});
});
</script>

<div class="container-fluid" style="margin:2em auto;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-body" style="margin:1em 2em;">
				<h3 class="text-center">Part2 - App Purchasing Behavior</h3>

				<h3 class="text-left">Instructions</h3>
				<p>
					In the following page, you will see a list of apps which are app store recommended when searching for an “activity tracking app” in the health & fitness category.
					Imagine you were given 1 dollar, you can evaluate any app with app details and customer reviews or merely evaluate by the information that app list provided.
					When you are ready, click the “Buy USD$ 0.99” button, as you were going to purchase this app, and there would be a following survey to finish.
					Please behave the way you do in app store as usual, and carefully read the scenario and evaluating apps based on it.
				</p>

</br>

				<h3 class="text-left">Scenario</h3>
				<p class="rfscenario">
					<% if @subject.regulatory_focus=="promotion" %>
							Research has shown that being physically active for at least half an hour per day almost every day of the week will <strong>improve your physical performance</strong>. 
							Regular physical activity <strong>makes your body fit and gives you more energy throughout the day</strong>. 
							Moreover, physical training improves your sleep quality and cognitive functioning which helps you to become more focused and concentrated to accomplish the daily tasks. 
							Even life style activities like cycling or walking can trigger these effects when they lead to sweating and breathing harder and last for at least 10 min each bout. 
							A physically active life-style <strong>enhances your self-esteem and raises your mood</strong>. 
							Be active and take the chance to experience fun and enjoyment! 
							Half an hour of physical activity each day does not only make you attractive but gives you a good feeling. 
							You can improve your vitality with your behavior!
					<% elsif @subject.regulatory_focus=="prevention" %>
							Research has shown that being physically active for at least half an hour per day almost every day of the week <strong>prevents you from chronic heart diseases or chronic back pain</strong>. 
							Regular physical activity <strong>counteracts the decrease of physical performance</strong>. 
							It helps you to <strong>cope better with daily hassles and reduces mental stress</strong>. 
							Even life style activities like cycling or walking can trigger these effects when they lead to sweating and breathing harder and last for at least 10 min each bout. 
							A physically active life-style can <strong>diminish the occurrence of depressive symptoms and anxiety</strong>. 
							Moreover, tiredness is reduced and you’ll become more resistant toward infections. 
							Stay healthy and avoid being physically inactive. 
							Half an hour of physical activity each day does not only keep you healthy but prevents you from many diseases. 
							Through avoiding risk behavior, everybody can prevent discomfort and ill being. 
							You can avoid the development of lifestyle diseases with your behavior!
					<% end %>
				</p>

	<ol>
		<div class="form-group">
			<li>
				<label for="read" class="control-label required">Have you read the scenario and understand the requirements completely?</label>
				<span id="helpBlock" class="help-block">please make sure you have carefully reviewed the scenario</span>
			</li>
			<div class="radio radio-primary">
		    <input type="radio" name="read" id="read_1" value="1", class="with-font">
		    <label for="read_1" class="control-label">Yes</label>
			</div>
			<div class="radio radio-primary">
		    <input type="radio" name="read" id="read_0" value="0", class="with-font">
		    <label for="read_0" class="control-label">No</label>
			</div>
		</div>

		<div class="form-group">
		<% if @subject.regulatory_focus=="promotion" %>
			<li>
				<label for="rf" class="control-label required">According to the scenario above, what is the benefit of exercise?</label>
			</li>
			<div class="radio radio-primary">
		    <input type="radio" name="rf" id="rf_1" value="1", class="with-font">
		    <label for="rf_1" class="control-label">Boost your memory</label>


			</div>
			<div class="radio radio-primary">
		    <input type="radio" name="rf" id="rf_0" value="0", class="with-font">
		    <label for="rf_0" class="control-label">Provide your body greater energy</label>
			</div>
		<% elsif @subject.regulatory_focus=="prevention" %>
			<li>
				<label for="rf" class="control-label required">According to the scenario above, what can be prevented by exercise?</label>
			</li>
			<div class="radio radio-primary">
		    <input type="radio" name="rf" id="rf_1" value="1", class="with-font">
		    <label for="rf_1" class="control-label">Excess weight gain</label>
			</div>
			<div class="radio radio-primary">
		    <input type="radio" name="rf" id="rf_0" value="0", class="with-font">
		    <label for="rf_0" class="control-label">Chronic diseases</label>
			</div>
		<% end %>
		</div>
	</ol>

		<div class="text-center">
			<button type="button" class="btn btn-default btn-outline btn-lg" id="submit">NEXT</button>
		</div>

			</div>
		</div>
		</div>
	</div>
</div>
