<div class="container-fluid" style="margin:2em auto;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-body" style="margin:1em 2em;">

				<p class="notice text-center model-error"><%= flash[:notice] %></p>
				<h3 class="text-center">Thank you for your participation!</h3>
				</br>

				<div class="text-center">
					We thank you for taking the time to complete our survey. </br>
					If you are a worker comes from Amazon Mechanical Turk, your survey code is </br>
					<strong><%= @esearch.mturk_surveycode %></strong>
				</div>
				</br>

			</div>
		</div>
		</div>
	</div>
</div>
