<div class="container-fluid" style="margin:2em auto;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-body" style="margin:1em 2em;">

				<p class="notice text-center model-error"><%= flash[:notice] %></p>
				<h3 class="text-center">Thank you for your participation!</h3>
				</br>

				<div>
					Thank you for taking the time to complete our survey. If there are any questions regarding this survey, please contact us via email.
				</div>
				</br>

				<div
					National Tsing Hua University</br>
					Institute of Service Science</br>
					Advisor: Prof. Soumya Ray</br>
					Student: Pei-Rong Chen</br>
					Email: shirley7483@gmail.com</br>
				</div>

			</div>
		</div>
		</div>
	</div>
</div>
