<div class="ui raised very padded text container segment" style="margin:1em auto;">
	<p class="thankyou">

		<p class="notice" style="color: red; text-align:center;"><%= flash[:notice] %></p>

		<h2 class="ui center aligned header">Thank you for your participation!</h2>
		</br>
		<div>
			Thank you for taking the time to complete our survey. If there are any questions regarding this survey, please contact us via email.
		</div>
		</br>
		<div
			National Tsing Hua University</br>
			Institute of Service Science</br>
			Advisor: Prof. Soumya Ray</br>
			Student: Pei-Rong Chen</br>
			Email: shirley7483@gmail.com</br>
		</div>
	</p>
</div>
